upstream fastcgi_backend {
    server  127.0.0.1:9000;
    keepalive 100;
}

server {
    listen 80 default_server;
    server_name _;

    set $MAGE_ROOT ${MAGENTO_DIR};
    set $MAGE_DEBUG_SHOW_ARGS 0;

    location ~* ^/dev/tests/acceptance/utils($|/) {
      root $MAGE_ROOT;

      location ~ ^/dev/tests/acceptance/utils/command.php {
          fastcgi_pass   fastcgi_backend;
          fastcgi_index  index.php;
          fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
          include        fastcgi_params;
      }
    }

    include ${MAGENTO_DIR}/nginx.conf.sample;
}
